<div class="c-pagination">
  <nav aria-label="pagination" class="c-pagination__nav">
    <ul>
      <li>
        <button
          [disabled]="current === 1"
          (click)="changePageEvent.emit(current - 1)"
          class="c-pagination__nav__button c-pagination__prev-button"
        >
          Voltar
        </button>
      </li>
      <li *ngFor="let page of pages; let i = index">
        <a
          *ngIf="page !== -1; else more"
          class="internal c-pagination__mid-button"
          [class.current]="page === current"
          tabindex="0"
          (click)="changePageEvent.emit(page)"
          (keyup.enter)="changePageEvent.emit(page)"
          >{{ page }}</a
        >
        <ng-template #more>
          <a class="more"> ... </a>
        </ng-template>
      </li>
      <li>
        <button
          [disabled]="current === total"
          (click)="changePageEvent.emit(current + 1)"
          class="c-pagination__nav__button c-pagination__next-button"
        >
          Próximo
        </button>
      </li>
    </ul>
  </nav>
</div>
