@import "/src/styles/breakpoints";

.c-all-dogs {
  width: 100%;
  margin: 2em 0;
  overflow-x: hidden;

  &__title {
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 25px;
      background-color: var(--yellow);
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  @include breakpoint("sm") {
    &__title {
      font-size: var(--font-md);
    }
  }

  &__filters {
    margin-top: 24px;

    &__select-container {
      margin-top: 12px;

      &__label {
        font-size: var(--font-sm);
        margin-bottom: 3px;
      }

      &__select {
        width: 100%;
        border: 1px solid var(--yellow);
        border-radius: 3px;
        height: 33px;
        padding: 5px 10px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }
    }

    &__input-container {
      width: 95%;
      display: flex;
      flex-direction: column;

      &__label {
        font-size: var(--font-sm);
        margin-bottom: 3px;
      }

      &__input {
        width: 100%;
        border: 1px solid var(--yellow);
        border-radius: 3px;
        height: 20px;
        padding: 5px 10px;
        background-color: var(--secondary-color);
        color: var(--primary-color);
      }

      @include breakpoint("sm") {
        width: 92%;
      }
    }
  }

  &__showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 32px;

    &__container {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
      justify-content: space-around;

      @include breakpoint("lg") {
        grid-template-columns: repeat(2, 1fr);
      }

      @include breakpoint("md") {
        grid-template-columns: 1fr;
      }
    }
  }

  &__no-data {
    width: 100%;
    margin-top: 24px;
  }

  &__loading {
    margin-top: 60px;
  }

  &__pagination-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-top: 32px;
    align-items: center;
  }
}
