<main>
  <section class="c-all-dogs" [ngSwitch]="state">
    <h1 class="c-all-dogs__title">Veja todos os dogs aqui!</h1>

    <div class="c-all-dogs__filters">
      <div class="c-all-dogs__filters__input-container">
        <p class="c-all-dogs__filters__input-container__label">
          Busque pelo nome do Dog
        </p>
        <input
          class="c-all-dogs__filters__input-container__input"
          placeholder="Digite aqui o nome do dog"
          [formControl]="nameSearchForm"
        />
      </div>
    </div>

    <div class="c-all-dogs__no-data" *ngSwitchCase="pageState.NO_DATA">
      <h1>Ops.. Nenhum dado foi encontrado</h1>
    </div>

    <ng-container *ngSwitchCase="pageState.LOADING" class="c-all-dogs__loading">
      <loading-component></loading-component>
    </ng-container>

    <div class="c-all-dogs__showcase">
      <div
        class="c-all-dogs__showcase__container"
        *ngSwitchCase="pageState.DEFAULT"
      >
        <ng-container *ngIf="nameSearchForm.value; else defaultResult">
          <div
            class="c-all-dogs__no-data"
            *ngIf="!dogShowcaseByName.length; else templateNameWithData"
          >
            <h1>Ops.. Nenhum dado foi encontrado</h1>
          </div>

          <ng-template #templateNameWithData>
            <div *ngFor="let dog of dogShowcaseByName; trackBy: dogTrackBy">
              <dog-card-component [dogObject]="dog"></dog-card-component>
            </div>
          </ng-template>
        </ng-container>

        <ng-template #defaultResult>
          <div *ngFor="let dog of dogShowcaseList; trackBy: dogTrackBy">
            <dog-card-component [dogObject]="dog"></dog-card-component>
          </div>
        </ng-template>
      </div>
    </div>
    <div
      class="c-all-dogs__pagination-container"
      *ngIf="state === pageState.DEFAULT"
    >
      <paginate-component
        *ngIf="!dogShowcaseByName.length"
        [current]="paginationOptions.current"
        [total]="paginationOptions.total"
        (next)="handleChangePage($event)"
        (previous)="handleChangePage($event)"
        (goTo)="handleChangePage($event)"
      ></paginate-component>
    </div>
  </section>
</main>
