<!-- Quando o componente for clicado ele emitirá um evento para o componente pai -->
<div class="c-snackbar" (click)="clickEvent.emit()">
  <div>
    <img [src]="dog.imageUrl" />
    <p>{{ dog.name }}</p>
  </div>

  <ng-container *ngIf="!withFavButton; else favButton">
    <img src="assets/img/seta.png" class="c-snackbar__arrow-img" />
  </ng-container>

  <ng-template #favButton>
    <favorite-button-component
      [dog]="dog"
      class="c-snackbar__fav-button"
    ></favorite-button-component>
  </ng-template>
</div>
