<section class="c-dogs-showcase">
  <ng-container [ngSwitch]="state">
    <ng-container *ngSwitchCase="pageState.NO_DATA">
      <h1 class="c-dogs-showcase__no-data">Ops.. Nada foi encontrado</h1>
    </ng-container>

    <ng-container *ngSwitchCase="pageState.LOADING">
      <loading-component class="c-dogs-showcase__loading"></loading-component>
    </ng-container>

    <div
      class="c-dogs-showcase__container c-dogs-showcase__default-content"
      *ngSwitchCase="pageState.DEFAULT"
    >
      <div class="c-dogs-showcase__container__header">
        <h3 class="c-dogs-showcase__container__header__title">
          Conheça os nossos dogs mais de perto
        </h3>
        <yellow-button-component
          content="Ver todos os dogs"
          (clickEvent)="navigateTo()"
          class="c-dogs-showcase__container__header__button"
        ></yellow-button-component>
      </div>
      <div class="c-dogs-showcase__container__content">
        <div class="c-dogs-showcase__container__content__snackbar-container">
          <snackbar-component
            [dog]="dog"
            (clickEvent)="changeCurrentDog(i)"
            *ngFor="let dog of showcaseList; let i = index; trackBy: dogTrackBy"
            [id]="
              'c-dogs-showcase__container__content__snackbar-container-' + i
            "
          ></snackbar-component>
        </div>

        <div class="c-dogs-showcase__container__content__dog-presentation">
          <img [src]="selectedDog.imageUrl" />
          <div
            class="c-dogs-showcase__container__content__dog-presentation__text-content"
          >
            <p
              class="c-dogs-showcase__container__content__dog-presentation__text-content__title"
            >
              {{ selectedDog.name }}
            </p>
            <p>Expectativa de vida: {{ selectedDog.lifeSpan }}</p>
            <p>Características: {{ selectedDog.temperament }}</p>
            <p>Origem: {{ selectedDog.origin || "Não encontrada!" }}</p>
          </div>
          <favorite-button-component
            class="c-dogs-showcase__container__content__dog-presentation__favorite-button"
            [dog]="selectedDog"
          ></favorite-button-component>
        </div>
      </div>
    </div>
  </ng-container>
</section>
