.c-dogs-showcase {
  &__container {
    margin-bottom: 48px;
   
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      &__title {
        border-bottom: 2px solid var(--yellow);
        display: inline-block;
        transition: 0.2s linear;
    
        &:hover {
          transform: translateX(5px);
        }
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;
      margin-top: 24px;

      &__snackbar-container {
        max-height: 700px;
        overflow-y: auto;
        width: 45%;
  
        &__snackbar {
          margin-top: 10px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          border-radius: 3px;
          
          div {
            display: flex;
            align-items: center;
            img {
              width: 50px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
    
            p {
              margin-left: 20px;
              font-size: var(--font-sm);
            }
          }

          &__arrow-img {
            width: 16px;
            margin-right: 20px;
          }
  
          &:hover {
            background-color: darken($color: #fff, $amount: 10);
            cursor: pointer;
          }
        }

        &::-webkit-scrollbar {
          width: 2px;

          &-track {
              background-color: transparent;
          }

          &-thumb {
              background-color: var(--base-white);
              border-radius: 30px;
              border-left: 9px var(--primary-color) solid;
              background-clip: padding-box;
              &:hover {
                  background-color: #333;
              }
          }
        }
      }

      &__dog-presentation {
        width: 50%;
        border-radius: 3px;
        box-shadow: 1px 1px 10px rgb(0, 0, 0, 10%);
        padding: 2px;
        height: min-content;

        img {
          width: 100%;
          border-radius: inherit;
        }

        p {
          font-size: var(--font-sm);
        }

       &__text-content {
        padding: 20px 10px;
        &__title {
          font-size: var(--font-md) !important;
        }
       }
      }
    }
  }
}