<section class="c-dogs-showcase">
  <div class="c-dogs-showcase__container">
    <div class="c-dogs-showcase__container__header">
      <h3 class="c-dogs-showcase__container__header__title">
        Conheça os nossos dogs mais de perto
      </h3>
      <button>Ver todos os dogs</button>
    </div>
    <div class="c-dogs-showcase__container__content">
      <div class="c-dogs-showcase__container__content__snackbar-container">
        <div
          *ngFor="let dog of showcaseList; let i = index"
          class="c-dogs-showcase__container__content__snackbar-container__snackbar"
          (click)="changeCurrentDog(i)"
        >
          <div>
            <img [src]="dog.image.url" />
            <p>{{ dog.name }}</p>
          </div>
          <img
            src="assets/img/seta.png"
            class="c-dogs-showcase__container__content__snackbar-container__snackbar__arrow-img"
          />
        </div>
      </div>

      <div class="c-dogs-showcase__container__content__dog-presentation">
        <img [src]="selectedDog.image.url" />
        <p class="c-dogs-showcase__container__content__dog-presentation__title">
          {{ selectedDog.name }}
        </p>
        <div>
          <p>Expectativa de vida: {{ selectedDog.life_span }}</p>
          <p>Características: {{ selectedDog.temperament }}</p>
          <p>Origem: {{ selectedDog.origin }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
