@import "/src/styles/breakpoints";

.c-home {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__container {
    margin: 0 auto;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__text-area {
      width: 100%;
      max-width: 500px;

      &__title {
        font-size: var(--font-lg);
        line-height: 1.2;
      }

      &__subtitle {
        margin-top: 10px;
        font-size: var(--font-md);
      }
    }

    &__dog-image {
      width: 300px;
      border-radius: 50%;
    }
  }

  @include breakpoint("md") {
    &__container {
      margin-top: 48px;
      flex-direction: column;
      text-align: center;

      &__text-area {
        &__title {
          font-size: var(--font-lg);
        }

        &__subtitle {
          font-size: var(--font-sm);
        }
      }

      &__dog-image {
        margin-top: 48px;
      }
    }

    &__dog-showcase {
      margin-top: 96px;
    }
  }
}
