/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./styles/_colors.scss";
@import "./styles/font-size";
@import "./styles/breakpoints";

@import "../node_modules/angular-notifier/styles.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html[data-theme="light"] {
  --primary-color: var(--onyx);
  --secondary-color: var(--base-white);
}

html[data-theme="dark"] {
  --primary-color: var(--base-white);
  --secondary-color: var(--onyx);
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
  background: var(--secondary-color);
}

.container {
  width: 64%;
  margin: 0 auto;

  @include breakpoint("sm") {
    width: 80%;
  }
}
