<header class="c-header__header">
  <nav class="container c-header__header__nav">
    <div class="c-header__header__nav__actions">
      <img
        src="assets/img/dog.svg"
        routerLink="/home"
        class="c-header__header__nav__actions__img"
      />
      <yellow-button-component
        content="Lista de favoritos"
        (clickEvent)="modal.toggleVisibility()"
      ></yellow-button-component>
    </div>
    <input
      class="c-header__switch-theme"
      type="checkbox"
      (change)="switchTheme($event)"
    />
  </nav>
</header>

<list-modal-template #modal></list-modal-template>
